header {
    background-color: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

main {
    padding: 80px 20px 20px; /* Top padding adjusted for fixed header */
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #333;
}

/* Form Styles */
#repoForm {
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

#repoForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

#repoForm input {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#repoForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#repoForm button:hover {
    background-color: #45a049;
}